{layout name="layout" /}
<table class="layui-table " lay-skin="line" lay-even style="margin-top: 2px;">
            <thead>
            <tr>
                <th>序号</th>
                <th>简历名称</th>
                <th>类型</th>
                <th>保密类型</th>
                <th>浏览次数</th>
                <th>更新时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>PHP高级开发工程师</td>
                <td>全职</td>
                <td>保密</td>
                <td>1000</td>
                <td>2017-08-14</td>
                <td>启用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>停用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr><tr>
                <td>10</td>
                <td>PHP开发</td>
                <td>兼职</td>
                <td>公开</td>
                <td>9</td>
                <td>2017-08-02</td>
                <td>停用</td>
                <td>
                    <ul>
                        <li><a><i class="layui-icon">&#xe642;</i></a></li>
                        <li><a><i class="layui-icon">&#xe640;</i></a></li>
                        <li><a>启用</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

<script>
    $(function () {
        layui.use([
            'laypage',
        ],function(){
            var page = layui.laypage;
            page({
                cont:'page',
                pages:100,
                groups:5
            });
        });
    });
</script>
</html>