<div style="margin-top: 5px;">
    <div class="layui-form-item">
        <label class="layui-form-label">公司名称:</label>
        <div class="layui-input-block" style="width: 300px;">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工作时间:</label>
            <div class="layui-input-inline" style="width: 145px;">
                <input class="layui-input" placeholder="开始日期" id="LAY_demorange_s" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
            </div>
            <div class="layui-input-inline" style="width: 145px;">
                <input class="layui-input" placeholder="结束日期" id="LAY_demorange_e" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">薪资:</label>
        <div class="layui-input-block" style="width: 300px">
            <input type="text" name="title" required  lay-verify="required" placeholder="￥" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职位:</label>
        <div class="layui-input-block"  style="width: 300px">
            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工作内容:</label>
        <div class="layui-input-block" style="width: 300px" >
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="resize:none;"></textarea>
        </div>
    </div>
</div>