<!DOCTYPE html>
<html class="login-alone">
<head>
    <title>简历管理-用户注册</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link href="{$Think.const.STATIC_PATH}/index/login/ui/css/screen.css?v=3.9" media="screen, projection" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_PATH}/index/login/ui/css/base.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_PATH}/index/login/passport/css/login.css?v=3.9">
    <link rel="stylesheet" href="{$Think.const.UNIT_PATH}/layui/css/layui.css">
</head>
<body>

<div class="logina-main main clearfix">
    <div class="tab-con" style="float: none;">
        <form class="layui-form" action="register" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱:</label>
                <div class="layui-input-block">
                    <input type="text" name="email" required  lay-verify="email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="nick_name" required lay-verify="required" placeholder="请输入在此网站显示的昵称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码:</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">再次输入密码:</label>
                <div class="layui-input-inline">
                    <input type="password" name="password_again" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[write]" title="写作">
                    <input type="checkbox" name="like[read]" title="阅读" checked>
                    <input type="checkbox" name="like[dai]" title="发呆">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开关</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="switch" lay-skin="switch">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女" checked>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
</div>
</div>
<div id="footer">
    <div class="copyright">Copyright © 2017 resume.com All Rights Reserved. </div>
</div>
</body>
<script src="{$Think.const.STATIC_PATH}/index/js/jquery-1.9.1.min.js"></script>
<script src="{$Think.const.UNIT_PATH}/layui/layui.js"></script>
<script src="{$Think.const.STATIC_PATH}/index/js/load_layui_module.js"></script>
<script src="{$Think.const.STATIC_PATH}/index/js/md5.js"></script>
<script src="{$Think.const.UNIT_PATH}/vue.min.js"></script>
</html>
